body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}

.score-section {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
}

.team-score {
  padding: 10px;
  border-radius: 10px;
  width: 180px;
}

.team1 {
  background-color: #d0e7ff;
}

.team2 {
  background-color: #ffd0d0;
}

.players-names p {
  margin: 2px 0;
}

.score-value {
  font-size: 3em;
  margin: 10px 0;
}

.points-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.points-grid button {
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  border-radius: 25px;
  border: 1px solid black;
  background-color: transparent;
}

.points-grid button.selected {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  transform: scale(1.1);
}

.scoreboard button {
  margin: 10px;
    background-color: #f0f8ff;
  border: 1px solid #007bff;
  border-radius: 5px;
  height: 30px;
}

#players {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 1em;
}

.team-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#setup button{
  margin: 20px;
  background-color: #f0f8ff;
  border: 1px solid #007bff;
  border-radius: 5px;
  height: 30px;
}

#team1Inputs {
  color: #d0e7ff;
}

#team2Inputs {
  color: #ffd0d0;
}

input[id^="player"] {
  font-weight: bold;
  background-color: #f0f8ff;
  border: 1px solid #007bff;
  padding: 6px 10px;
  margin: 6px 0;
  border-radius: 5px;
  width: 180px;
  text-align: center;
}